<%- include("header") -%>

<div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>
    
    <div class="box">
        <% for (var i=0; i<newListItem.length; i++) { %> 
        <div class="item">
            <input type="checkbox">
            <p><%= newListItem[i] %></p> 
        </div>
        <% } %>  
        
            <form class="item" action="/" method="post">
            <input name="newItem" type="text" placeholder="What To-Do?" autocomplete="off">
            <button name="list" type="submit" value=<%= listTitle %>>+</button>
            </form>
    </div>
</div>

<%- include("footer") -%>



